# RexOS BusyBox Configuration
# Minimal configuration for gaming device

CONFIG_DESKTOP=n
CONFIG_EXTRA_COMPAT=n
CONFIG_FEDORA_COMPAT=n
CONFIG_INCLUDE_SUSv2=y
CONFIG_LONG_OPTS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=n
CONFIG_FEATURE_COMPRESS_USAGE=y
CONFIG_LFS=y
CONFIG_PAM=n
CONFIG_FEATURE_DEVPTS=y
CONFIG_FEATURE_UTMP=n
CONFIG_FEATURE_WTMP=n
CONFIG_FEATURE_PIDFILE=y
CONFIG_PID_FILE_PATH="/var/run"
CONFIG_BUSYBOX=y
CONFIG_FEATURE_SHOW_SCRIPT=n
CONFIG_FEATURE_INSTALLER=n
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_INSTALL_APPLET_HARDLINKS=n
CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS=n
CONFIG_INSTALL_SH_APPLET_SYMLINK=y
CONFIG_INSTALL_SH_APPLET_HARDLINK=n
CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER=n
CONFIG_PREFIX="./_install"
CONFIG_FEATURE_SUID=n
CONFIG_FEATURE_SUID_CONFIG=n

# Archival
CONFIG_FEATURE_SEAMLESS_XZ=y
CONFIG_FEATURE_SEAMLESS_LZMA=y
CONFIG_FEATURE_SEAMLESS_BZ2=y
CONFIG_FEATURE_SEAMLESS_GZ=y
CONFIG_FEATURE_SEAMLESS_Z=y
CONFIG_GUNZIP=y
CONFIG_ZCAT=y
CONFIG_GZIP=y
CONFIG_TAR=y
CONFIG_FEATURE_TAR_CREATE=y
CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_FEATURE_TAR_GNU_EXTENSIONS=y
CONFIG_UNZIP=y

# Coreutils
CONFIG_BASENAME=y
CONFIG_CAT=y
CONFIG_CHGRP=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CHROOT=y
CONFIG_CKSUM=n
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_DF=y
CONFIG_DIRNAME=y
CONFIG_DU=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_EXPR=y
CONFIG_FALSE=y
CONFIG_FOLD=n
CONFIG_HEAD=y
CONFIG_ID=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_FEATURE_LS_FILETYPES=y
CONFIG_FEATURE_LS_FOLLOWLINKS=y
CONFIG_FEATURE_LS_RECURSIVE=y
CONFIG_FEATURE_LS_SORTFILES=y
CONFIG_FEATURE_LS_TIMESTAMPS=y
CONFIG_FEATURE_LS_USERNAME=y
CONFIG_FEATURE_LS_COLOR=y
CONFIG_MD5SUM=y
CONFIG_MKDIR=y
CONFIG_MKFIFO=y
CONFIG_MKNOD=y
CONFIG_MKTEMP=y
CONFIG_MV=y
CONFIG_PWD=y
CONFIG_READLINK=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SEQ=y
CONFIG_SHA1SUM=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_STAT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_TOUCH=y
CONFIG_TR=y
CONFIG_TRUE=y
CONFIG_TRUNCATE=y
CONFIG_TTY=y
CONFIG_UNAME=y
CONFIG_UNIQ=y
CONFIG_WC=y
CONFIG_WHOAMI=y
CONFIG_YES=y

# Console
CONFIG_CHVT=y
CONFIG_CLEAR=y
CONFIG_DEALLOCVT=y
CONFIG_DUMPKMAP=n
CONFIG_FGCONSOLE=y
CONFIG_KBD_MODE=n
CONFIG_LOADFONT=n
CONFIG_OPENVT=y
CONFIG_RESET=y
CONFIG_SETCONSOLE=n
CONFIG_SETKEYCODES=n
CONFIG_SETLOGCONS=n
CONFIG_SHOWKEY=n

# Editors
CONFIG_AWK=y
CONFIG_SED=y
CONFIG_VI=y
CONFIG_FEATURE_VI_COLON=y
CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_FEATURE_VI_SEARCH=y
CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_FEATURE_VI_DOT_CMD=y

# Finding
CONFIG_FIND=y
CONFIG_FEATURE_FIND_PRINT0=y
CONFIG_FEATURE_FIND_MTIME=y
CONFIG_FEATURE_FIND_PERM=y
CONFIG_FEATURE_FIND_TYPE=y
CONFIG_FEATURE_FIND_XDEV=y
CONFIG_FEATURE_FIND_MAXDEPTH=y
CONFIG_FEATURE_FIND_NEWER=y
CONFIG_FEATURE_FIND_DELETE=y
CONFIG_FEATURE_FIND_PATH=y
CONFIG_FEATURE_FIND_SIZE=y
CONFIG_GREP=y
CONFIG_FEATURE_GREP_CONTEXT=y
CONFIG_XARGS=y
CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION=y
CONFIG_FEATURE_XARGS_SUPPORT_QUOTES=y

# Init
CONFIG_HALT=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_INIT=n

# Login/Password
CONFIG_GETTY=n
CONFIG_LOGIN=n
CONFIG_PASSWD=n
CONFIG_SU=n

# Linux Ext2 FS Progs
CONFIG_CHATTR=n
CONFIG_FSCK=y
CONFIG_LSATTR=n
CONFIG_TUNE2FS=n

# Linux Module Utilities
CONFIG_DEPMOD=y
CONFIG_INSMOD=y
CONFIG_LSMOD=y
CONFIG_MODPROBE=y
CONFIG_RMMOD=y
CONFIG_FEATURE_MODUTILS_ALIAS=y
CONFIG_FEATURE_MODUTILS_SYMBOLS=y

# Linux System Utilities
CONFIG_BLKID=y
CONFIG_DMESG=y
CONFIG_FBSET=n
CONFIG_FDISK=n
CONFIG_FREERAMDISK=n
CONFIG_FSTRIM=y
CONFIG_HWCLOCK=y
CONFIG_LOSETUP=y
CONFIG_LSPCI=n
CONFIG_LSUSB=n
CONFIG_MDEV=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_FEATURE_MDEV_EXEC=y
CONFIG_FEATURE_MDEV_LOAD_FIRMWARE=y
CONFIG_MKSWAP=n
CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_CIFS=n
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MOUNT_FSTAB=y
CONFIG_FEATURE_MOUNT_LOOP=y
CONFIG_FEATURE_MOUNT_NFS=n
CONFIG_PIVOT_ROOT=y
CONFIG_SWITCH_ROOT=y
CONFIG_SWAPON=n
CONFIG_SWAPOFF=n
CONFIG_UMOUNT=y
CONFIG_FEATURE_UMOUNT_ALL=y

# Miscellaneous
CONFIG_LESS=y
CONFIG_FEATURE_LESS_MAXLINES=9999999
CONFIG_NANDWRITE=n
CONFIG_NANDDUMP=n
CONFIG_SETSERIAL=n
CONFIG_UBIATTACH=n
CONFIG_UBIDETACH=n
CONFIG_UBIMKVOL=n
CONFIG_UBIRENAME=n
CONFIG_UBIRMVOL=n
CONFIG_UBIRSVOL=n
CONFIG_UBIUPDATEVOL=n
CONFIG_STRINGS=y

# Networking
CONFIG_FEATURE_IPV6=y
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_PING=y
CONFIG_PING6=y
CONFIG_ROUTE=y
CONFIG_UDHCPC=y
CONFIG_FEATURE_UDHCPC_ARPING=y
CONFIG_FEATURE_UDHCPC_SANITIZEOPT=y
CONFIG_UDHCPC_DEFAULT_SCRIPT="/etc/udhcpc.script"
CONFIG_WGET=y
CONFIG_FEATURE_WGET_LONG_OPTIONS=y
CONFIG_FEATURE_WGET_STATUSBAR=y
CONFIG_FEATURE_WGET_TIMEOUT=y
CONFIG_FEATURE_WGET_HTTPS=y
CONFIG_FEATURE_WGET_OPENSSL=y

# Print Utils
CONFIG_LPR=n
CONFIG_LPQ=n

# Mail Utils
CONFIG_SENDMAIL=n

# Process Utils
CONFIG_FREE=y
CONFIG_FUSER=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_PGREP=y
CONFIG_PIDOF=y
CONFIG_PKILL=y
CONFIG_PS=y
CONFIG_FEATURE_PS_LONG=y
CONFIG_TOP=y
CONFIG_UPTIME=y
CONFIG_WATCH=y

# Runit
CONFIG_CHPST=n
CONFIG_RUNSV=n
CONFIG_RUNSVDIR=n
CONFIG_SV=n

# Shells
CONFIG_ASH=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_CMDCMD=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_EXPAND_PRMT=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_READ_NCHARS=y
CONFIG_ASH_READ_TIMEOUT=y
CONFIG_ASH_TEST=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y

# System Logging
CONFIG_SYSLOGD=y
CONFIG_FEATURE_ROTATE_LOGFILE=y
CONFIG_FEATURE_REMOTE_LOG=n
CONFIG_FEATURE_SYSLOGD_DUP=y
CONFIG_FEATURE_SYSLOGD_READ_BUFFER_SIZE=256
CONFIG_FEATURE_IPC_SYSLOG=y
CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE=16
CONFIG_LOGREAD=y
CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING=y
CONFIG_KLOGD=y
CONFIG_FEATURE_KLOGD_KLOGCTL=y
CONFIG_LOGGER=y
